
button{
transition:0.4s;
padding:4.5px 10px;

}

.btn-actived{
background-color:#C9A86A;
border-radius:10px;
color:white;
border:none;

}

.btn{
background-color:#edede4;
border-radius:10px;
color:#C9A86A;
border:none;


}



.container-btns-grafico-config{
display:flex;
flex-direction:column;
gap:50px;


}


